@model vpee1_MVC__Music.Models.Musician

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Musician</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       <partial name="_AddInstrumentModal"/>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MusicianID" />
            <input type="hidden" asp-for="RowVersion" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SIN" class="control-label"></label>
                <input asp-for="SIN" class="form-control" />
                <span asp-validation-for="SIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstrumentID" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default" id="nowAddInstrument" data-toggle="modal" data-target="#addInstrumentModal" type="button"><span class="glyphicon glyphicon-plus" /></button>
                    </div>
                    <select asp-for="InstrumentID" class="form-control" asp-items="ViewBag.InstrumentID"></select>
                </div>
                <span asp-validation-for="InstrumentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Past Conditions</label>
                <div class="col-md-offset-1">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<vpee1_MVC__Music.ViewModels.AssignedPlayVM> insts = ViewBag.InstrumentID;
                                foreach (var inst in insts)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedInstruments"
                                               value="@inst.PlayID"
                                               @(Html.Raw(inst.Assigned ? "checked=\"checked\"" : "")) />
                                        @inst.PlayName @:&nbsp;&nbsp;
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script src="~/js/refreshDDL.js"></script>
        <script type="text/javascript">
            $('#submitCreate').click(function (event) {
                event.preventDefault();
                var form = $('#createInstrumentForm');
                if (form.valid()) {
                    $.ajax({
                        type: "POST",
                        url: form.attr('action'),
                        data: form.serialize(),
                        success: function () {
                            $('#addInstrumentModal').modal('hide');
                        },
                        error: function () {
                            alert("Create Failed.  There was a problem adding the record.");
                        }
                    });
                }
                return false;
            });
            $('#addInstrumentModal').on('hide.bs.modal', function () {
                $('#createInstrumentForm').find("input[type=text], textarea, select").val("");
                refreshDDL('Instrument', 'Musicians/GetInstruments', false, '');
            });
        </script>
    }
